.header__logo {
  width: 150px;
  height: 54px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 95px;
    height: 32px;
  }
}

@media screen and (max-width: 640px) {
  .header__logo {
    width: 71px;
    height: 24px;
  }
}
