.projects__more-info {
  display: none;
  position: relative;
  width: 115px;
  height: 24px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  text-align: start;
}

.projects__more-info:before {
  position: absolute;
  content: "";
  background-image: url(../../../images/arrow-right_black.png);
  background-position: center;
  width: 24px;
  height: 100%;
  right: 0;
  top: 0;
}

.projects__more-info_active {
  display: block;
}
