.header__menu-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .header__menu-list {
    flex-direction: column;
    align-self: start;
    height: 0px;
    overflow: hidden;
    transition: height 1s;
  }
}
