.header__menu-item {
  display: inherit;
  max-width: 100px;
  width: calc(100vw / (1440 / 100));
  height: 44px;
  align-items: center;
  place-content: center;
  color: white;
}

@media screen and (max-width: 1024px) {
  .header__menu-item {
    opacity: 0.5;
    width: 100%;
    justify-content: start;
  }

  .header__menu-item:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 0.5);
    background-color: #001337;
  }
}
