.projects__card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 254px;
  height: 228px;
  background-color: rgba(0, 159, 172);
  border-radius: 10px;
  background-image: url(../../../images/Factory.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  text-align: start;
}

@media screen and (max-width: 1024px) {
  .projects__card {
    width: 210px;
    height: 199px;
  }
}

@media screen and (max-width: 640px) {
  .projects__card {
    width: 140px;
    height: 130px;
    padding: 10px;
  }
}
