.projects__card {
  width: 254px;
  height: 228px;
  background-color: rgba(0, 159, 172);
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .projects__card {
    width: 210px;
    height: 199px;
  }
}

@media screen and (max-width: 640px) {
  .projects__card {
    width: 140px;
    height: 130px;
  }
}
