.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  color: white;
  width: 100%;
  padding: 14px 165px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    padding: 14px 40px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    flex-direction: column;
    padding: 10px 18px;
  }
}
